.product-container {
  display: flex;
  flex-direction: row;
  background-color: white;
  align-items: start;
  gap: 1rem;
  cursor: pointer;
}

.product-container img {
  width: 8.32rem;
  height: 7.77rem;
  object-fit: cover;
}

.product-price-container {
  display: flex;
  gap: 0.5rem;
  align-items: start;
  justify-content: space-between;
  width: 100%;
}

.product-content {
  display: flex;
  gap: 0.5rem;
  align-items: start;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;
  cursor: pointer;
}

.product-content-price {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 20px;
  letter-spacing: 0;
}

.product-name {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 20px;
  letter-spacing: 0;
}

.product-description-summary {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0;
}

.product-cashback {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.cashback-amount {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
}

.product-quantity {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0;
}

.cashback-icon-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
  margin-left: 0.25rem;
  font-family: Roboto;
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
  
}
