.autoship-icon{
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #545871;
  color: #fff;
  margin: 0 2px 0 0;
  vertical-align: middle;
  display: inline-block;
}

.oc-item-autoship img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}
