.oc-order-header-container {
  display: flex;
  flex: 2.5;
  gap: 16px;
  flex-direction: column;
}

.oc-order-id {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 1);
}

.oc-order-heading {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0;
  color: #000;
}

.oc-order-estimated-delivery {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0;
  color: #2a876a;
}

.oc-order-confirmation {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 19px;
  line-height: 100%;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 1);
}

.oc-order-confirmation-print {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0;
  text-decoration: underline solid;
  text-underline-offset: 2px;
  text-decoration-thickness: 0;
  color: #000;
}

@media (max-width: 768px) {
  .oc-order-header-container {
    display: flex;
    flex: 2.5;
    gap: 12px;
    flex-direction: column;
  }
  .oc-order-id {
    font-family: Roboto;
    font-weight: 300;
    font-style: Light;
    font-size: 17px;
    line-height: 100%;
    
    margin-bottom: 8px;
  }

  .oc-order-heading {
    font-family: Roboto;
    font-weight: 300;
    font-style: Light;
    font-size: 35px;
    line-height: 42px;
    
    margin-bottom: 11px;
  }

  .oc-order-estimated-delivery {
    font-family: Roboto;
    font-weight: 400;
    
    font-size: 19px;
    line-height: 100%;
    
  }

  .oc-order-confirmation {
    font-family: Roboto;
    font-weight: 300;
    font-style: Light;
    font-size: 18px;
    line-height:21px;
    
  }

  .oc-order-confirmation-print {
    font-family: Roboto;
    font-weight: 300;
    font-style: Light;
    font-size: 15px;
    line-height: 100%;
    
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
  }
}
