.oc-shipping-address-container {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  gap: 1rem;
  font-weight: 500 !important;
  font-size: 18px;
  letter-spacing: 0;
}
.oc-shipping-address-text {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-weight: 400 !important;
  gap: 2px;
  font-size: 18px;
  letter-spacing: 0;
}
.main-top-n10 {
  margin-top: -10px;
}

@media (max-width: 768px) {
  .oc-shipping-address-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: "Roboto", sans-serif;
    font-weight: 400 !important;
    gap: 0.5rem;
    font-size: 18px;
    letter-spacing: 0;
  }
}
