.section-card {
  margin-bottom: 1.5rem;
}

.section-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Roboto;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}

.section-card-header span {
  font-size: 0.95rem;
  color: #333;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

.section-card-body {
  background-color: white;
  padding: 1.25rem;
  border-radius: 12px;
  border: 1px solid #e0e0e0;
}

.section-card-gradient {
  border: 1px solid transparent;
  background-image: linear-gradient(white, white),
    linear-gradient(to right, rgba(114, 188, 129, 1), rgba(9, 167, 157, 1));
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

@media (max-width: 768px) {
  .section-card-header {
    flex-direction: column;
    align-items: flex-start;
    font-size: 16px;
  }

  .section-card-header span {
    font-size: 14px;
    align-self: flex-start;
    padding-bottom: 1rem;
  }
}
