.app-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(246, 246, 246);
  padding: 4.563rem;
}

.order-confirmation-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  margin-bottom: 4.188rem;
}

.recommended-products-container {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 1rem;
  scroll-behavior: smooth;
}

.recommended-products-container::-webkit-scrollbar {
  height: 8px;
}

.recommended-products-container::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

.recommended-products-header {
  margin-top: 1.5rem;
}

.order-notifications {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@media (max-width: 1180px) {
  .app-container {
    padding: 2rem;
  }

  .order-confirmation-container {
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .recommended-products-container {
    flex-direction: row;
    align-items: flex-start;
  }

  .recommended-products-header {
    text-align: center;
  }

  .order-notifications {
    margin-top: 2rem;
    margin-bottom: 2rem;
    gap: 1rem;
  }

  .vift-tag {
    font-size: 1.5rem;
    gap: 1rem;
    flex-direction: column;
    align-items: flex-start;
  }
}

.no-padding {
  padding: 0 !important;
}

.vift-tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 27px;
  line-height: 100%;
  letter-spacing: 0;
}
